@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.features-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.features-div {
  text-align: center;
  justify-content: center;
  font-family: "Pacifico", cursive;
  font-size: 1.3rem;
  border: 3px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  width: 400px;
  height: 200px;
  -webkit-box-shadow: 10px 10px 26px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 26px -12px rgba(0,0,0,0.75);
box-shadow: 10px 10px 26px -12px rgba(0,0,0,0.75);
}

.features-titles {
  padding: 0;
  padding-top: 50px;
  margin: 0;
}

.features-link {
  display: inline-flex;
  text-decoration: none;
  color: rgb(107, 107, 107);
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.features-link:hover {
  color: black;
}

.features-about-link {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.features-back-button {
  text-align: center;
  padding-top: 50px;
}

@media only screen and (max-width: 700px) {
  .features-titles {
    font-size: 2rem;
  }
}
