@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Pacifico&family=Sacramento&display=swap");
/*font-family: 'Pacifico', cursive;
font-family: 'Cedarville Cursive', cursive;
font-family: 'Sacramento', cursive;
*/

.App {
  text-align: center;
}

.App-logo {
  height: 275px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-enter-link {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  margin: 5px;
}

.home-enter-link:hover {
  color: gray;
  font-family: "Open Sans", sans-serif;
}

.welcome {
  font-family: "Pacifico", cursive;
  font-size: 4.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 700px) {
  .welcome {
    font-size: 2.9rem;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .home-enter-link {
    font-size: 1.5rem;
  }

  .App-logo {
    height: 175px;
    padding: 20px;
  }
}
